*{
    color: rebeccapurple;
}

ul{
    display: flex;
    flex-direction: row;
}

li{
    list-style: none;
    padding: 3px 4px;
}

a{
    text-decoration: none;
}

input, textarea{
    display: block;
    padding: 3px;
    margin: 15px auto;
    width: 60%;
    outline: none;
    border: 2px solid black;
    border-radius: 3px;
}

.btn{
    display:  block;
    margin: 2px auto;
}